.header {
	color:black;
	font-size:42px;
	font-family:"Arial", Helvetica, sans-serif;
	padding: 8px;
}

.norm {
	color:black;
	font-size:22px;
	font-family:"Arial", Helvetica, sans-serif;
	margin-left: 8px;
	margin-top: 16px;
}

.likes {
	color:#5a749f;
	font-size:86px;
	font-family:"Arial", Helvetica, sans-serif;
}

.sm {
	float: left;
	width: 100%;
}

.message {
	float:left;
	margin:0 10% 0 15%;
	max-width: 50%;
}

#likes {
	/*position: absolute;*/
	right:26px;
}

#facebook {
	margin-bottom: 14px;
	border: 1px dashed yellow;
	background-color: #F5F6CE;
}

#twitter {
	border: 1px dashed blue;
	background-color: #81F7F3;
}

#wrap {
	margin: 8px;
}
